Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*7makemoneyonline\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*abovetherivernc\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*adelly\.bg.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*alessandraleone\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*aosheng\-tech\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*audiobangout\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*backgroundpictures\.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*bbtec\.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*bkns\.vn.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*buttons\-for\-website\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*buypharmacydrug\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*callejondelpozo.es.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*cbcseward\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*cherrypointplace.ca.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*cherubinimobili\.it.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*clmforexeu\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*constantaservice.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*darodar\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*DuckDuckGo\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*econom\.co.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*edelstahlschornstein-123.de.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*embedle\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*extener\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*family1st\.ca.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*fbfreegifts\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*feedouble\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*feedouble\.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*forum\.topic16443549\.darodar\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*forum\.topic16443549\.darodar\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*forum\.topic48373797\.darodar\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*foxtechfpv\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*freeseedsonline\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*fungirlsgames\.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*funnypica\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*gototal\.co.nz.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*h2monline\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*hostcritique\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*hostingclub.lk.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*houseofrose\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*ilovevitaly\.co.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*ilovevitaly\.co.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*ilovevitaly\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*iminent\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*invivo.hu.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*istanbulit\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*itronics.ca.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*itsdp3\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*jasonpartington\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*joinandplay\.me.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*joingames\.org.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*kambasoft\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*kosova\.de.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*leadwayau\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*lmrauction\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*lol-smurfs\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*mainlinehobby.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*make\-money\-online\.7makemoneyonline\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*malls\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*medi-fitt.hu.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*medicovi\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*medispainstitute\.com.au.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*mericanmopedstore\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*motion\-interactive\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*mountainstream.ms.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*musicas.baixar-musicas-gratis\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*musicprojectfoundation\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*myprintscreen\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*notaria-desalas\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*noumeda\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*openfrost\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*openfrost\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*openmediasoft\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*priceg\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*princeadvantagesales\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*pyrodesigns.com.au.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*realting-moscow\.ru.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*retreatia\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*savetubevideo\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*semalt\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*softomix\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*softomix\.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*softomix\.ru.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*sonyelektronik\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*soundfrost\.org.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*srecorder\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*streha-metalko.si.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*susanholtphotography\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*tastyfoodideas\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*teastory.co.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*thecoral\.com.br.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*thepokertimer\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*touchmods.fr.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*twincitiescarservice\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*twincitiescarservice\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*urlopener.blogspot\.com.au.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*uzungil\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*vapmedia\.org.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*videofrost\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*videofrost\.net.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*website-errors-scanner\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*williamrobsonproperty\.com.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*youtubedownload\.org.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*zazagames\.org.*$ [NC,OR]
RewriteCond% {HTTP_REFERER} ^http(s)://(.. * \)*zverokruh-shop\.cz.*$ [NC,OR]
RewriteRule ^(.*)$ – [F,L]

SetEnvIfNoCase Referer 7makemoneyonline.com spambot=yes
SetEnvIfNoCase Referer acunetix-referrer.com spambot=yes
SetEnvIfNoCase Referer adcash.com spambot=yes
SetEnvIfNoCase Referer buttons-for-website.com spambot=yes
SetEnvIfNoCase Referer cenokos.ru spambot=yes
SetEnvIfNoCase Referer cenoval.ru spambot=yes
SetEnvIfNoCase Referer cityadspix.com spambot=yes
SetEnvIfNoCase Referer darodar.com spambot=yes
SetEnvIfNoCase Referer econom.co spambot=yes
SetEnvIfNoCase Referer edakgfvwql.ru spambot=yes
SetEnvIfNoCase Referer gobongo.info spambot=yes
SetEnvIfNoCase Referer ilovevitaly.com spambot=yes
SetEnvIfNoCase Referer ilovevitaly.co spambot=yes
SetEnvIfNoCase Referer ilovevitaly.info spambot=yes
SetEnvIfNoCase Referer ilovevitaly.org spambot=yes
SetEnvIfNoCase Referer ilovevitaly.ru spambot=yes
SetEnvIfNoCase Referer iskalko.ru spambot=yes
SetEnvIfNoCase Referer luxup.ru spambot=yes
SetEnvIfNoCase Referer make-money-online.7makemoneyonline.com spambot=yes
SetEnvIfNoCase Referer maps.ilovevitaly.com spambot=yes
SetEnvIfNoCase Referer myftpupload.com spambot=yes
SetEnvIfNoCase Referer o-o-6-o-o.ru spambot=yes
SetEnvIfNoCase Referer o-o-8-o-o.ru spambot=yes
SetEnvIfNoCase Referer priceg.com spambot=yes
SetEnvIfNoCase Referer savetubevideo.com spambot=yes
SetEnvIfNoCase Referer screentoolkit.com spambot=yes
SetEnvIfNoCase Referer semalt.com spambot=yes
SetEnvIfNoCase Referer seoexperimenty.ru spambot=yes
SetEnvIfNoCase Referer shopping.ilovevitaly.ru spambot=yes
SetEnvIfNoCase Referer slftsdybbg.ru spambot=yes
SetEnvIfNoCase Referer socialseet.ru spambot=yes
SetEnvIfNoCase Referer srecorder.com spambot=yes
SetEnvIfNoCase Referer st3.cwl.yahoo.com spambot=yes
SetEnvIfNoCase Referer superiends.org spambot=yes
SetEnvIfNoCase Referer vodkoved.ru spambot=yes
SetEnvIfNoCase Referer websocial.me spambot=yes
SetEnvIfNoCase Referer ykecwqlixx.ru spambot=yes
SetEnvIfNoCase Referer yougetsignal.com spambot=yes

RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} NerdyBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Validator.nu/LV [NC]
RewriteRule !^robots\.txt$ – [F]

# BLOCK BLANK USER AGENTS
RewriteCond %{HTTP_USER_AGENT} ^-?$
RewriteRule ^ – [F]

Order allow,deny
Allow from all
Deny from env=spambot
Deny from 217.23.7.130
</IfModule>